body {
  background-image: url(https://i.pinimg.com/564x/0f/14/2e/0f142ee0e9234489919196f9ad7b83f5.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
    font-family: Helvetica, Geneva, Arial,
    SunSans-Regular, sans-serif;
    color: black;
    background-color: rgb(226, 222, 222)}
    ul.navbar {
      list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
    h1 {
  font-family: Georgia, "Times New Roman",
  Times, serif }
        ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black }
ul.navbar a {
  text-decoration: none }
a:link {
  color: blue }
a:visited {
  color: black }
  address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }